<div class="content pure-u-md">
    <div class="content-post">
        <h1 class="content-subhead">Header</h1>
    </div>
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">Title</h2>
            <p class="post-meta">
                By <a href="#">Author</a>
            </p>
        </header>
        <div class="post-description">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
        </div>
    </section>
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">Title</h2>
            <p class="post-meta">
                By <a href="#">Author</a>
            </p>
        </header>
        <div class="post-description">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
        </div>
    </section>
</div>