<section class="contact">
    <div class="contact-header pure-g">
        <div class="pure-u-1-4 contact-icon">
            <i class="fa fa-user"></i>
        </div>
        <div class="pure-u-3-4">
            <p class="contact-name">{{contact-name}}</p>
            <p class="contact-twitter">{{contact-twitter}}</p>
            <p class="contact-meta">{{contact-meta}}</p>
        </div>
    </div>
    <div class="contact-footer">
        <a href="#contacts/edit/{{id}}"><i class="fa fa-pencil"></i>&nbsp;Edit</a> / <a href="#" class="delete"><i class="fa fa-trash"></i>&nbsp;Delete</a>
    </div>
</section>