<div class="content pure-u-1-1">
    <div class="content-post">
        <h1 class="content-subhead">Contacts</h1>
    </div>
    <div class="content-subheader">
        <a class="pure-button button-success" href="#contacts/create"><i class="fa fa-plus"></i>&nbsp;Add Contact</a>
    </div>
    <div class="pure-g">
        <div class="pure-u-1-1">
            <form class="pure-form">
                <fieldset>
                     <input type="text" id="filter" placeholder="Search"/>
                </fieldset>
            </form>
        </div>
    </div>
    <div id="contacts-list" class="pure-g">
    </div>
</div>