<div class="content pure-u-1-1">
    <div class="content-post">
        <h1 class="content-subhead">Edit Note</h1>
    </div>
    <div id="notes-create">
        <form class="pure-form pure-form-stacked">
            <fieldset>
                <label for="title">Title</label>
                <input id="title" type="text" placeholder="Title" value="<%=title%>">
                <label for="body">Message</label>
                <input id="body" type="text" placeholder="Message" value="<%=body%>">
                <div class="content-footer">
                    <a class="pure-button pure-button-primary save" href="#"><i class="fa fa-floppy-o"></i>&nbsp;Save</a>
                    <a class="pure-button button-error" href="#notes/list"><i class="fa fa-times"></i>&nbsp;Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
    
</div>
